/.settings
/Debug*
/Release*
/*.vcxproj.user
./                                                                                                                                      
.idea                                                                                                                                      
/cg3_u3/cmake-build-debug
